.btn {
  display: inline-block;
  text-decoration: none;
  color: $black-color;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1rem 1.6rem;
  border-radius: 2.4rem;
  border: 2px solid $black-color;
}
