.categories {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0 21rem;

  @include respond(laptop) {
    padding: 0 3.6rem;
  }

  @include respond(tablet) {
    padding: 0 1.4rem;
    gap: 2vw;
  }

  @include respond(phone) {
    flex-wrap: wrap;
    justify-content: center;
  }

  &__link:link,
  &__link:visited {
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 11.4rem;
    text-align: center;
    border-bottom: 2px solid transparent;
    @include respond(tablet) {
      font-size: 1.3rem;
      width: 8.6rem;
    }

    @include respond(phone) {
      width: 9.8rem;
      justify-content: center;
    }

    @include respond(smallerPhone) {
      width: 8rem;
      justify-content: center;
    }
  }

  &__item {
    @include respond(phone) {
      max-width: 33.333%;
      flex-basis: 31.333%;
      flex-grow: 1;
      display: flex;
      justify-content: center;
    }
  }
  &__img {
    width: 11.4rem;
    border-radius: 50%;
    border: 1px solid rgba(34, 34, 34, 0.15);
    overflow: hidden;
    transition: all 0.3s;

    @include respond(tablet) {
      width: 8.6rem;
    }

    @include respond(phone) {
      width: 9.8rem;
    }

    @include respond(smallerPhone) {
      width: 8rem;
    }
  }

  &__title {
    margin-bottom: 0.5rem;
    font-weight: 500;
    flex-shrink: 0;
  }

  &__link:hover &__img {
    transform: scale(1.1);
    box-shadow: 0px 4px 18px 0px rgba(34, 34, 34, 0.15);
  }

  &__link:hover {
    border-bottom: 2px solid $gray-color;
  }
}
