@keyframes slide-from-right {
  0% {
    transform: translateX(3.6rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slide-from-left {
  0% {
    transform: translateX(-3.6rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
