.container {
  max-width: 140rem;
  margin: 0 auto;
}

.categories-section {
  padding-top: 2.6rem;
  position: relative;
  margin-bottom: 6rem;

  @include respond(tablet) {
    margin-bottom: 4rem;
  }

  &__heading {
    font-size: 3rem;
    text-align: center;
    font-family: 'Merriweather';
    font-weight: 300;
    letter-spacing: -1px;
    margin-bottom: 3.2rem;
    @include respond(tablet) {
      font-size: 2.4rem;
      letter-spacing: normal;
    }
  }
}

.categories-section::before {
  content: '';
  width: 100%;
  height: 18rem;
  background-color: $green-color;
  position: absolute;
  z-index: -1;
  top: 0;
}

.featured-section {
  margin-bottom: 9rem;

  @include respond(tablet) {
    display: none;
  }

  @include respond(laptop) {
    padding: 0 3.2rem;
  }

  &__gal-1 {
    display: none;
  }
  &__change.featured-section__gal-1 {
    display: grid;
  }

  &__gal-2 {
    display: none;
  }
  &__change.featured-section__gal-2 {
    display: grid;
  }

  &__gal-3 {
    display: none;
  }
  &__change.featured-section__gal-3 {
    display: grid;
  }

  &__gal-4 {
    display: none;
  }
  &__change.featured-section__gal-4 {
    display: grid;
  }

  &__heading {
    margin-bottom: 2.4rem;
  }
  &__nav {
    margin: 0 0.9rem;
    padding: 0 7rem;
    position: relative;
    margin-bottom: 2.4rem;
  }

  &__nav::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: rgba(34, 34, 34, 0.15);
    position: absolute;
    top: 4.2rem;
    left: 0;
  }

  &__list {
    display: flex;
    list-style: none;
    justify-content: space-between;
  }

  &__title {
    font-size: 2rem;
    cursor: pointer;
  }
}

.gifts-section {
  margin-bottom: 9rem;
  padding: 0 3.2rem;

  @include respond(tablet) {
    margin-bottom: 6rem;
  }

  &__heading {
    margin-bottom: 1.8rem;
  }

  &__cards {
    display: flex;
    gap: 2rem;
    @include respond(tablet) {
      flex-wrap: wrap;
      gap: 1.6rem;
    }
  }
}

.about-section {
  background-color: $beige-color;

  &__svg {
    display: block;
    height: 2.4rem;
    width: 100%;
    fill: $white-color;
  }

  &__container {
    padding: 3.6rem 5.4rem 7.2rem 5.4rem;
  }

  &__header {
    text-align: center;
  }

  &__heading {
    font-size: 4rem;
    font-weight: 300;
    font-family: 'Merriweather';
    margin-bottom: 0.6rem;
  }

  &__link:link,
  &__link:visited {
    display: inline-block;
    font-size: 1.4rem;
    color: $black-color;
    margin-bottom: 3.6rem;
    transition: all 0.3s;
  }

  &__link:hover,
  &__link:active {
    opacity: 0.5;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    margin-bottom: 4.2rem;
    @include respond(tablet) {
      grid-template-columns: 1fr;
    }
  }

  &__column {
    @include respond(tablet) {
      text-align: center;
    }
  }

  &__content-description {
    margin-top: 1.8rem;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.8rem;
  }

  &__cta {
    text-align: center;
  }

  &__cta-text {
    font-size: 1.9rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
  }
}
