.container {
  max-width: 140rem;
  margin: 0 auto;
}

.categories-section {
  padding-top: 2.6rem;
  position: relative;
  margin-bottom: 6rem;
  &__heading {
    font-size: 3rem;
    text-align: center;
    font-family: 'Merriweather';
    font-weight: 300;
    letter-spacing: -1px;
    margin-bottom: 3.2rem;
  }
}

.categories-section::before {
  content: '';
  width: 100%;
  height: 18rem;
  background-color: $green-color;
  position: absolute;
  z-index: -1;
  top: 0;
}

.featured-section {
  margin-bottom: 6rem;
  &__gal-1 {
    display: none;
  }
  &__change.featured-section__gal-1 {
    display: grid;
  }

  &__gal-2 {
    display: none;
  }
  &__change.featured-section__gal-2 {
    display: grid;
  }

  &__gal-3 {
    display: none;
  }
  &__change.featured-section__gal-3 {
    display: grid;
  }

  &__gal-4 {
    display: none;
  }
  &__change.featured-section__gal-4 {
    display: grid;
  }

  &__heading {
    font-size: 2.8rem;
    font-weight: 600;
    margin-bottom: 2.4rem;
  }
  &__nav {
    margin: 0 0.9rem;
    padding: 0 7rem;
    position: relative;
    margin-bottom: 2.4rem;
  }

  &__nav::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: rgba(34, 34, 34, 0.15);
    position: absolute;
    top: 4.2rem;
    left: 0;
  }

  &__list {
    display: flex;
    list-style: none;
    justify-content: space-between;
  }

  &__title {
    font-size: 2rem;
    cursor: pointer;
  }
}
