.header {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1.2rem 3.6rem;

  &__logo-box {
    display: flex;
    align-items: center;
  }

  &__logo {
    width: 8rem;
    height: 4rem;
  }

  &__search-bar {
    width: 100%;
    display: flex;
  }

  &__search {
    width: 100%;
    padding: 1.05rem 4.2rem 1.05rem 2rem;

    border: 2px solid $black-color;
    background-color: rgba(34, 34, 34, 0.05);
    border-radius: 9.6rem;

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
  }

  &__search-bar input {
    font-size: 1.5rem;
    font-family: 'Poppins';
  }

  &__search:focus,
  &__search:focus-visible {
    background-color: $white-color;
    box-shadow: 0 1px 4px 0 rgb(34 34 34 / 10%) inset;
    outline: 0;
  }

  &__search-btn {
    top: 1rem;
    right: 2rem;
    border: 2px solid $black-color;
    background-color: rgba(34, 34, 34, 0.05);
    padding: 0 1.8rem;
    border-top-right-radius: 9.6rem;
    border-bottom-right-radius: 9.6rem;
    border-left: 0;
  }

  &__search-icon {
    width: 2.9rem;
    height: 2.9rem;
  }

  &__search::placeholder {
    font-size: 1.5rem;
    font-family: 'Poppins';
  }

  &__heart-icon {
    width: 2.2rem;
    height: 2.2rem;
  }

  &__btns {
    display: flex;
    gap: 2rem;
    align-items: center;
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    color: $black-color;
  }

  &__signin-btn {
    width: 4.6rem;
    font-size: 1.3rem;
    font-weight: 500;
  }

  &__favorites-btn,
  &__cart-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__cart-icon {
    width: 2.6rem;
    height: 2.6rem;
    line-height: 1.4;
  }
}
