.mobile-nav {
  background-color: $white-color;
  padding: 0 1.2rem 6rem 1.2rem;
  height: 100vh;
  z-index: 20;
  position: fixed;
  overflow-y: scroll;
  top: 0;
  min-width: 35rem;
  max-width: 40%;
  box-shadow: 0 6px 36px rgb(34 34 34 / 33%);
  opacity: 0;
  visibility: hidden;
  transform: translateX(-4.8rem);
  transition: opacity 150ms ease-out, visibility 150ms ease-out,
    transform 255ms cubic-bezier(0.175, 0.745, 0.425, 1.11);

  @include respond(smallerPhone) {
    min-width: 30rem;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 1.6rem;
  }

  &__logo {
    width: 6rem;
    height: 3rem;
  }

  &__title {
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
    padding: 2.4rem 0;
  }

  &__list {
    list-style: none;
  }

  &__item {
    padding: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item span {
    font-size: 1.6rem;
    font-weight: 500;
  }
}

.change.mobile-nav {
  @include respond(tablet) {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}
