.overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(34, 34, 34, 0);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  visibility: hidden;
  transition: visibility 0ms linear 300ms, z-index 0ms linear 300ms,
    background-color 300ms ease-out;
}

.change.overlay {
  visibility: visible;
  background-color: rgba(34, 34, 34, 0.65);
  z-index: 10;
  transition-delay: 0s;
}
